Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ini
*.uasset
*.umap
*.png
*.zip
*.url
*.fbx
*.jpg
*.txt
*.tmp
*.mb
*.db
